#Home {
  text-align: center;
  background-color: #0A244A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: white;
}

.Name {
  font-size: calc(10px + 4vmin);
  margin: 2%;
}

#Home .ui.inverted.teal.button {
  background-color: transparent;
  box-shadow: 0 0 0 2px white inset !important;
  color: white;
}

#Home .ui.inverted.teal.button:hover {
  background-color: white;
  box-shadow: 0 0 0 2px white inset !important;
  color: #0A244A;
}

#Home .ui.inverted.teal.button:focus {
  background-color: transparent;
  box-shadow: 0 0 0 2px white inset !important;
  color: white;
}

#About {
  text-align: center;
  background-color:#D9DBDE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: #0A244A;
}

.About-Profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
}

.About-Picture {
  height: auto;
  max-width: 16%;
  border-radius: 50%;
}

.About-Title {
  margin: 20px;
  font-size: calc(10px + 4vmin);
}

.About-Description {
  margin: 20px;
  max-width: 500px;
  font-size: calc(5px + 1.5vmin);
}

.About-Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; 
}

#About .ui.inverted.blue.button {
  background-color: #0A244A;
  box-shadow: 0 0 0 2px #0A244A inset !important;
  color:white;
}

#About .ui.inverted.blue.button:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px #0A244A inset !important;
  color: #0A244A;
}

#About .ui.inverted.blue.button:focus {
  background-color: #0A244A;
  box-shadow: 0 0 0 2px #0A244A inset !important;
  color: white;
}

#About a {
  color: white;
}

#About a:hover {
  color: #0A244A;
}

.About-Skills-Section{
  padding: 30px;
}

.About-Skills {
  height: auto;
  max-width: 70%;
}

#Contact {
  background-color: #0A244A;
  min-height: 25vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.Contact-Description {
  margin: 0;
  width: calc(350px + 20vmin);
  text-align: center;
  font-size: calc(7px + 2.5vmin);
}

.Contact-Motto {
  margin: 30px;
}

.Contact-Email {
  margin: -10px 0 calc(15px + 2vmin) 0;
}

.Contact-Links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

#Contact a {
  color: #ff695e;
}

#Contact a:hover {
  color: white;
}
