.Home {
  text-align: center;
  background-color: #0A244A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: white;
}

.Name {
  font-size: calc(10px + 8vmin);
}

.Description {
  margin: 20;
  font-size: calc(5px + 3vmin);
}

.ui.inverted.red.button:focus {
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff695e inset !important;
  color: #ff695e;
}

#About {
  text-align: center;
  background-color:#D9DBDE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: #0A244A;
}

.About-Profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
}

.About-Picture {
  height: 16em;
  width: 16em;
  border-radius: 50%;
}

.About-Title {
  margin: 20px;
  font-size: calc(10px + 5vmin);
}

.About-Description {
  margin: 20px;
  width: 300px;
  font-size: calc(5px + 2vmin);
}

.About-Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
}

.ui.inverted.blue.button:focus {
  background-color: transparent;
  box-shadow: 0 0 0 2px #0A244A inset !important;
  color: #0A244A;
}

.About-Skills-Section{
  padding: 30px;
}

.About-Skills {
  height: 14em;
  width: 37em;
}

#Contact {
  background-color: #0A244A;
  min-height: 25vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.Contact-Description {
  margin: 0;
  width: 350px;
  text-align: center;
  font-size: calc(5px + 3vmin);
}

.Contact-Email {
  margin: -10px 0 20px 0;
}

.Contact-Links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

a {
  color: #ff695e;
}

a:hover {
  color: white;
}